# Ignore binaries and build artifacts
*.class
bin/
target/
build/
.gradle/

# Ignore Eclipse and Spring Tool Suite settings
.metadata/
.settings/
.project
.classpath
.factorypath
*.launch

# Ignore VS Code settings
.vscode/

# Linux temporary files
*.swp
*~

# Ignore IntelliJ IDEA settings
.idea/
*.iml
out/
gen/

# Ignore configuration files with credentials
db.properties
